$body-bg: #fff;
$font-size-base: 15px;
$gray-base: #000;
$gray: lighten($gray-base, 25%);
$gray-light: lighten($gray-base, 50%);
$gray-lighter: lighten($gray-base, 75%);
$brand-danger: #bf1d20;
$state-danger-text: #bf1d20;
$btn-primary-bg: transparent;
$btn-primary-border: $gray-light;
$btn-primary-color: $gray-light;
$list-group-bg: transparent;
$list-group-border: $gray-light;
$list-group-hover-bg: transparent;
$list-group-link-hover-color: $gray-lighter;
$list-group-active-color: $brand-danger;
$list-group-active-bg:transparent;
$carousel-caption-color: $gray;
$carousel-text-shadow: transparent;
$carousel-control-color: $gray;
$thumbnail-border: transparent;
$navbar-height: 70px;
$link-color: $brand-danger;
$font-size-base: 16px;
$component-offset-horizontal: 130px;
$component-active-bg: $brand-danger;
$list-group-border-radius: 0;
$panel-bg: #fff;
$well-border: transparent;


$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Roboto Slab', serif;
$line-height-base: 1.8;
$thumbnail-padding: 0;

$color-darker: #000;
$color-light: #fff;
$color-eventrites: #bf1d20;
$input-border-focus: transparent;

$grid-gutter-width: 30px;
$container-tablet: (600px + $grid-gutter-width);
$container-desktop: (800px + $grid-gutter-width);
$container-large-desktop: (1000px + $grid-gutter-width);
@import "vendor/bootstrap-custom";
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
/*==========================
General
==========================*/


body {
	font-weight:300;
	position:relative;
}

.small{
	font-weight:300;
}

a {
	color: $brand-danger;
	&:hover{
		text-decoration: none;
		color: darken($brand-danger, 5%);
	}

	&.alt-link {
		color: $gray;
		&:hover{
		text-decoration: none;
		color: $gray-light;
		font-weight: 300;
	}
	}
}

img {
width: 100%;
}

ul, ol {
  padding-left: 0;
  list-style-position: inside;
}


p.lead {
	font-size: $font-size-base*1.3;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:200;
	line-height: 1.6;
}

.bg-eventrites {
	background: $color-eventrites;
}



.thumbnail {
	overflow:hidden;
	&:hover, &:focus, &:active{
			border-color:transparent;

			}

}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 8px;
}
/*====================
buttons
======================*/

.btn-primary{
		-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: $brand-danger;
		border-color:$brand-danger;
	}
}
/*====================
Select
======================*/

optgroup {
	height:100px !important;
	overflow-y:scroll;
}
/*==========================
Navbar
==========================*/

.navbar-wrapper{}


.navbar{
	z-index: 1050;
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-width: 0;
	border-radius:0;
	margin-bottom: 0;
	position: relative;
	top:0px;
	background: transparentize($body-bg, 0.6);
	webkit-box-shadow: 0 4px 8px -3px #222;
   -moz-box-shadow: 0 4px 8px -3px #222;
        box-shadow: 0 4px 8px -3px #222;


.navbar-nav { 
		margin-top: 0;
		background-color: transparentize($body-bg, 0.1);
		z-index: 1050;
		margin-bottom: 0;
		
		> li {

			border-bottom: 1px solid transparentize($brand-danger, 0.8);
			@media screen and (min-width: $screen-sm-min) {
				border-bottom: none;
			}


			> a{
				color: $gray-base;
				padding-top: 7.5px;
  				
  				@media screen and (min-width: $screen-sm-min) {
					padding-bottom: 30.5px;
				}
  				&:hover {
  					color: $brand-danger;
  				}
  				&.btn { 
  					  padding-top: 3px;
					  padding-bottom: 3px;
					  margin: 10px;
					  color: $body-bg;
					  @media screen and (min-width: $screen-sm-min) {
						margin-top: 6px;
					  margin-left: 20px;
					}
  					&:hover {
					  	border-color: $brand-danger;
					  	color: $brand-danger;
					  }


  				}
			}
		}

		@media screen and (min-width: $screen-sm-min) {
			background: transparent;
			margin-top: 20px;
		}
	}

	.navbar-brand {
			position: absolute;
		    left: 0;
		    max-width: 100%;
		    top: 22px; text-align: center;
		    margin: auto;
		    display: inline-block;
		    text-indent: -200000px;
			img{
				width: 150px;
				display: block;
				margin: 0 auto;				
			}

			@media screen and (min-width: $screen-sm-min) {
				width: 100%;
			}
	}


}


.navbar.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    background: transparentize($body-bg, 0.1);


    .navbar-toggle .icon-bar {
    	background-color: $brand-danger;
    }

    .navbar-nav {
    	background: transparentize($body-bg, 0.1);

    	@media screen and (min-width: $screen-sm-min) {
					background: transparent;
				}



    }

    .navbar-brand img{
		&.logo-color{
			display:block;
		}

	}
}


.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}



.navbar-toggle {
	margin-top: 25px;
}
/*====================
Footer
======================*/
footer {
	padding-top: 30px;
  	background: #333333;
  	color: #cccccc;
	a {
		color: $gray-light;
		&:hover{
			color: $color-eventrites;
		}
		span {
			font-weight: bold;
		}

		&.list-group-item{
			color: $gray-lighter;
			&:hover{
				color: $color-eventrites;
			}
		}
	}
	h3{
		margin-bottom: 15px;
	}
	.list-group-item {
		border: none;
		border-bottom: 1px solid;
		padding-left:0;
	}

	.form-control {
		background-color: transparent;
		border-color: $gray-light;
		padding: 12px;
		color: $body-bg;
		&:focus{
			border-color: $color-eventrites;
		}
	}

	.category {
		
		li{
			display: inline-block;
			list-style: none;
			margin: 15px;
			margin-left: 0;
		}
	}

	.bottom-footer{
		background-color: #111111;
		padding: 15px 0;

		a {
			color: #fff;
		}

		p{
			margin-top: 10px;
		}
	}
}

/*====================
Backgrounds
======================*/
.dark-bg {
	background-color: lighten($gray-base, 96%);
	margin:0;
}


/*====================
profile thumbnail
======================*/
.profile-page {

	.profile-img{
		.img-circle{
			border: 10px solid #f6f6f6;
			  position: absolute;
  top: 140px;


    	@media screen and (min-width: $screen-sm-min) {
					top: 50px;
				}

		}
	}


}

.profile-full-detail{
	margin-top: 40px;

	.list-group{
		

		.list-group-item {
			border: 0;
			border-bottom: 1px solid #f6f6f6;
		}

		a:first-child{
			border-top-right-radius: 10px;
		    border-top-left-radius: 10px;
		}

		a:nth-of-type(odd) {
			background: #f6f6f6;
		}

		a:last-child{
			border-bottom: 10px solid $brand-danger;
		}
	}
}

.profile-title{
		background-color: #f6f6f6;
		z-index: 100;
		width: 100%;
	}



	.item{
		position:relative;
	}

	.arrow-down{
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $gray-light;
		position: absolute;
		  left: 50%;
		  transform: translateX(-50%);
	}

.popular {
	a{
		&.thumbnail{
			position: relative;
			margin-bottom: -2px;

			~ p.small {
				border-bottom: 1px solid $gray;
				padding-bottom: 10px;
				margin-bottom: 45px;
				margin-top: 15px;
			}

			&:hover, &:focus, &:active{
			border-color:transparent;
			}

			img{
				transition: all .8s ease 0s;
				&:hover{
					transform: scale(1.1); 

				}
			}

			.arrow-down{
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $gray-light;
				position: absolute;
				  left: 50%;
				  transform: translateX(-50%);
			}




			img{
				border-radius: 7%;
			}

			}

		.caption {
			text-align: center;
			position: absolute;
			width: 100%;
			background: $gray-light;
			color: $color-light;
			bottom:0;

			p{
				margin-bottom: 0;
				color: $body-bg;
			}

			
			}
		}

	}

.blog {
	.thumbnail{
		margin-top: 30px;
		margin-bottom: 0;
		border: 1px solid $gray-lighter;
		border-radius:0;

		.btn{
			margin-bottom: 10px;
		}
	}

	.blog-content{

			img {
				display:block;
				margin-top: 30px;
				margin-bottom: 30px;
			&.medium {
				width: 60%;
				margin: 30px auto;
				
				}
			&.full{
				width: 100%;
				margin: 30px auto;
				
				}



			}
	}
}
select{
	position:relative;
}

select:not(:-internal-list-box) {
  overflow-y: scroll;
}



.step1-detail{
	display:none;
	width: 100%;
}

/*===============
Media/comment
==================*/

.comments{
	.media{
		border-bottom: 1px solid $gray-lighter;

		padding-bottom: 15px;
	}

	.media .media {
		padding-top: 15px;
		border-bottom: 0;
		border-top: 1px solid $gray-lighter;
		padding-bottom: 0;
	}

	img.media-object{
	width: 100px;
	height:100px;
	}


}

img.media-object{
	width: auto;
	border-radius: 50%;
}

/*====================
Carousel
======================*/
.carousel-inner {


	.media {

		.media-object {
			width: 120px;
		}

		.media-body {
			vertical-align: middle;
		}

	}


	.carousel-caption{
	    color:#000;
	    position:static;
	}


		
	}

.carousel-control {
		width: 5%;
		top: 30%;
		&.left{
			background-image: none;
		}
		&.right{
			background-image: none;
		}
	}


/**************
How it works
****************/
.fancy-border {
	width: 150px;
	height: 150px;
	border: 2px solid $color-eventrites;
	border-radius: 50%;
	display: inline-block;
	background: $body-bg;
	padding: 10px;
	text-align:center;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	/*&:hover{
		width: 160px;
	height: 160px;

	}*/


	p{
		position: relative;
		top: 50%;
		 -webkit-transform: translateY(-50%);
  		transform: translateY(-50%); 
  		font-family: "Roboto Slab", serif;
  		text-transform: uppercase;
  		color: $color-eventrites;

	}

	.fa-stack{
		position: absolute;
		top: -15%;
		left: 5%;
		-webkit-text-stroke: 1px white;
		.fa{
		
		}
	}
}

.fancy-border1{
	@extend .fancy-border;
	border-radius: 10%;
	background: transparent;
	p{ 
		color: $color-eventrites;
	}
}

.fancy-border2{
	@extend .fancy-border;
	border-radius: 10%;
	transform: rotate(45deg);
	background: transparent;
	p{
		transform: rotate(-45deg);
		top: 35%;
		color: $color-eventrites;
	}
	.fa {
		transform: rotate(-45deg);
	}
}
/**************
Jumbotron 
****************/

.jumbotron {  
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 600px;
	text-align: center;
	position:relative;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	margin-top: -90px;
	&.longer{
		min-height: 1000px;
    	@media screen and (min-width: $screen-sm-min) {
			min-height: 600px;
		}
	}

	&.smaller{
		min-height: 400px;
	}

	p.small{
		font-size: 90%;
	}
		.overlay-content {
			position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	padding: 0 1%;
	z-index: 10;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	top: 0;
	left:0;
	background-color:transparentize($color-darker, 0.7);
	color: $color-light;
		}
	}

.bannercontent{
  margin: auto;
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%); 

  &.mini {
  	top: 45%;
	@media screen and (min-width: $screen-sm-min) {
	top: 50%;
	}
  }
}

/* blog panel */


.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .panel-group .panel-heading {
        border: none;
        background-color: $gray-light;
        border-bottom: 1px solid red;

    
    }
    .panel-body {
        background-color: transparent;
        padding-left:0;
        padding-right:0;

        .btn{
        	margin-top: 10px;
        }
    }
    .panel-title {
        font-weight: 200;
        color: $color-light;
    }

/*====================
list
======================*/
.dl-horizontal dt{
	text-align:left;
	width:120px;
}

.text-right .dl-horizontal dt{
	text-align:right;
	width:120px;
}

.list-group-item {
	i {
		padding-top: 6px;
	}
}
/*====================
well
======================*/
.well {
margin-bottom:0;
}

/*==========
upload
===========*/
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
/*====================
typeahead
======================*/


.typeahead, .tt-input, .tt-hint {
	outline: medium none;
	font-size: 16px;

}
.twitter-typeahead{
	width:100%;
	font-size: 16px;
}
.typeahead {
 width:100%;

}
.typeahead:focus {
	border: 2px solid $color-eventrites;
}
.tt-input {

}
.tt-hint {
	color: $gray;
}
.tt-menu {
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 16px;
	width:100%;
	
}


.tt-suggestion {
	font-size: 12px;;
	padding: 5px 20px;
	color:$gray;
	background-color: #fff;
	text-align:left;
}
.tt-suggestion.tt-cursor {
	background-color: $gray;
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
	font-size: 16px;
}

.icon-logo {
	background: url('../img/icon-logo.png') no-repeat;
	height: 50px;
	background-position:50%;
		-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	&:hover{
		background: url('../img/icon.png') no-repeat;
		background-position:50%;
	}
}


/*=======*/
#back-to-top {
  position: fixed;
  right: 5%;
  font-size: 1.5em;
  background: rgba(0,0,0,.4);
  padding: 10px 20px;
  border-radius: 50%;
  bottom: 5%;
  cursor: pointer;
  display: none;
}
/*====================
Profile board
======================*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
    width: 100%;
margin: 0;
height: auto;
background: #f6f6f6;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(../img/concrete_seamless.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

.tab-content{
	padding:15px;
}


span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    &.summary{
    	position: relative;
    	width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    margin: 20px;
    color: $color-eventrites;
   border: 1px solid $gray-lighter; 
   background:$gray-lighter;
   		-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    &:hover{
    	 color: white;
    	border-color: $color-eventrites;
    	background:$color-eventrites;
    }
    p{
    	font-size: small;
    	line-height: normal;
    	text-transform: uppercase;
    	color: $color-eventrites;
    }
    }
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}

.nav-tabs.for-user > li {
    width: 25%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 0px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
    .board {
width: 100%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}


/*====================
Tab
======================*/
#myTab{

	.nav-tabs > li > a {
		margin-right: 0;
		border-radius: 0;
		&:hover{
			background:red;
		}
	}

}

.form-inline.register{
	.form-group {
		width: 48%;
		float: left;
		.form-control{
			width: 100%;
			margin-bottom: 20px;
		}

	}
}


/*====================
Gallery
======================*/
#links.blog-gallery a img{
	width: 50px;
	overflow:hidden;
}


/*====================
Vendor classes
======================*/

.vendor-list {
	
	li{
			border-top: 1px solid #ccc;
			margin-bottom:25px;
		padding-top:25px;
			&:first-child{
				border-top: none;
				padding-top:0;
			}


	}
		list-style-type:none;


.vendor-item {

	height: 200px;

	.vendor-item-detail {
		position: relative;
		height: 100%;
		.btn-sm{
			  margin-top: -22px;
		}
	}
	p{ margin-top:15px;}
	.vendor-tags {
		margin-top:20px;
	}
}



}

/*========
universal search
===========*/

/*====================
Helper classes
======================*/

.fileinput-new.thumbnail{
	border: 1px solid $gray-light;
}
.text-light{
	color:$color-light;
}

.floating-line {


}

.seperator-row{
	padding: 40px 0;
	margin:0;
}


.seperator-column {
	padding-bottom: 40px;
			@media screen and (min-width: $screen-sm-min) {
				padding-bottom: 0;
			}
}

.short-line {
	width: 20%;
}

.dark-line {
	border-color:$gray;
}

.width-auto {
	width: auto;
}

.mn {
	margin:0;
}
.mtn{
	margin-top:0;
}

.mbn{
	margin-bottom:0;
}

.ptn{
	padding-top:0;
}

.pbn{
	padding-bottom:0;
}

.padding {
	padding: 20px;
}

.curved {
	border-radius: 10px;
}

.advert {
	background: $gray-lighter;
	color: $gray;
	text-align:center;
	width:100%;
	padding: 30px;
	font-size: 30px;
	height: 300px;

	&.short{
		height: 150px;
		margin-bottom: 20px;
	}
}

.semi-trans {
	background-color:transparentize($gray-base, 0.7);
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 5px solid $color-eventrites;
}

.bg-pattern {
	background-color: $gray-lighter;
	background-image: url('../img/concrete_seamless.png');
}

.inline {display:inline;}

.img-auto {
	width:auto;
}

h4.blockheader{
	padding:10px;
	background-color: $brand-danger;
	color: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
}

.activityfield{
	.list-group-item {
    padding: 10px 15px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    border-color:transparent;
}
}
.form-control {
		padding: 12px;
		&:focus{
			border-color: $color-eventrites;
		}
	}

.blueimp-gallery>.slides>.slide>.slide-content {
    overflow: auto;
}

.blueimp-gallery {

	.modal-body img{
		width:auto;
	}

	.modal-footer{
		text-align:left;
		border-top: none;
		.media-object{
			width: 60px;
			height: 60px;

		}

		.comments .media {
		    border-bottom:0;
		    padding-bottom: 15px;
		    background-color: #f6f6f6;
		    padding: 15px;
		}
	}


}

/*.modal.in .modal-dialog {
  -webkit-transform: translate(0, 40%);
  -ms-transform: translate(0, 40%);
  -o-transform: translate(0, 40%);
  transform: translate(0, 40%);
}*/

.step{
	    cursor:pointer;
}

.usericon {
	&:hover{
		color:$color-eventrites;
		  cursor:pointer;

	}
}
.modal-header {
  background-color: $color-eventrites;
  color: #fff;
}